#mw-selector-1685370099135 {
	color: #e89443;
}
#mw-selector-1685371336648 {
	color: #e89443;
}
#mw-selector-1685371579671 {
	color: #e89443;
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-weight: 600;
	font-size: 40px;
}
#mw-selector-1685371579674 {
	color: #e89443;
	font-weight: 600;
}
#mw-selector-1685371579677 {
	color: #e89443;
	margin-bottom: 0px;
	padding-bottom: 0px;
	font-size: 40px;
	font-weight: 600;
}
#mw-selector-1685371579680 {
	color: #e89443;
	margin-bottom: 0px;
	padding-bottom: 0px;
	font-weight: 600;
}
#mw-selector-1685371579683 {
	color: #e89443;
	margin-bottom: 5px;
}
#mw-selector-1685371579686 {
	color: #e89443;
	font-weight: 600;
}
#element_1685371037498 {
	font-size: 16px;
	line-height: 16px;
	margin-top: 5px;
}
#btn-layouts-20230529143729-btn {
	padding-left: 30px;
	padding-right: 30px;
	margin-left: 0px;
	padding-top: 13.5;
	margin-top: auto;
}
#btn-mw-module-1685371533585 {
	padding-left: 70px;
	padding-right: 70px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 0px;
	font-family: Lato, sans-serif;
}
#mw-selector-1685373092559 {
	font-style: italic;
	font-weight: 600;
	font-size: 25px;
	margin-bottom: 0px;
	padding-bottom: 2px;
}
#mw-cl-id-1685375144570 {
	color: #e89443;
	font-size: 40px;
	font-weight: 600;
}
#mw-cl-id-1685375144571 {
	color: #e89443;
	font-weight: 600;
}
.edit[field="layout-skin-2-layouts-20230529155026"][rel="module"] {
	padding-bottom: 0px;
	padding-top: 40px;
	margin-top: 0px;
}
.edit[field="layout-features-skin-4-layouts-20230529155000"][rel="module"] {
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 30px;
}
#element_1685375217726 {
	padding-left: 0px;
	margin-left: 0px;
	color: #e89443;
}
#mw-selector-1685376704651 {
	font-size: 15px;
	line-height: 24px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: auto;
	padding-bottom: 0px;
}
.edit[field="layout-skin-1-layouts-20230529161037"][rel="module"] {
	padding-left: 0px;
}
.edit[field="new-world_footer"][rel="global"] {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	margin-top: 0px;
	line-height: 0px;
	font-size: 0px;
}
#element_1685376508905 {
	padding-left: 0px;
	padding-right: 100px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 100px;
}
#element_1685376510514 {
	padding-left: 0px;
}
#element_1685377572863 {
	padding-top: 0px;
	margin-top: 0px;
}
.edit[field="layout-contacts-skin-2-layouts-20230529162722"][rel="module"] {
	padding-bottom: 30px;
	margin-top: 40px;
	padding-top: 26px;
	font-style: italic;
}
#element_1685377572865 {
	padding-top: 0px;
	margin-top: 0px;
}
#element_1685377572271 {
	font-style: normal;
}
#spacer-6474d608c9a7c {
	height: 15px;
}
.edit[field="layout-skin-2-layouts-20230529164808"][rel="module"] {
	padding-top: 0px;
	margin-top: 0px;
}
.edit[field="layout-skin-1-layouts-20230529164805"][rel="module"] {
	padding-top: 0px;
	margin-top: 0px;
}
.edit[field="layout-skin-2-layouts-20230529165123"][rel="module"] {
	padding-bottom: 0px;
	padding-top: 51px;
}
#element_1685378878668 {
	padding-top: 0px;
}
#element_1685379498612 {
	margin-top: 25px;
}
#element_1685379498616 {
	font-style: italic;
	line-height: 33px;
	font-size: 17px;
}
#mw-selector-1685379682731 {
	font-size: 16px;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 39px;
	margin-top: 100px;
	padding-top: 0px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
#mw-selector-1685379682734 {
	margin-top: 100px;
}
#element_1685379498376 {
	font-style: italic;
}
#mw-selector-1685375230234 {
	margin-bottom: 0px;
}
#mw-cl-id-1685375144569 {
	margin-bottom: 0px;
}
#mw-selector-1685388704034 {
	margin-bottom: 19px;
}
#mw-selector-1685373092633 {
	margin-bottom: 34px;
	padding-bottom: 0px;
}
#mw-selector-1685373092682 {
	margin-bottom: 15px;
}
#mw-selector-1685373092689 {
	font-weight: 600;
	font-size: 40px;
}
#mw-selector-1685373092593 {
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
#mw-selector-1685388704069 {
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding-top: 6px;
	margin-top: 0px;
}
#element_1685373017627 {
	padding-top: 7px;
	margin-top: 14px;
}
#element_1685373017219 {
	padding-top: 0px;
	padding-bottom: 15px;
	margin-top: auto;
	padding-left: 70px;
	margin-bottom: 0px;
}
#btn-mw-module-1685388630677 {
	padding-top: 0px;
	padding-left: 0px;
}
#mw-module-1685388630677 {
	margin-top: 0px;
}
#element_1685373017228 {
	margin-top: 10px;
}
#mw-module-1685388631337 {
	padding-top: 50px;
	padding-left: 0px;
	margin-left: 0px;
	padding-right: 0px;
}
#btn-mw-module-1685388631337 {
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: 0px;
}
.edit[field="layout-skin-3-layouts-20230529151705"][rel="module"] {
	padding-bottom: 50px;
	padding-top: 30px;
}
#element_1685373018660 {
	padding-top: 30px;
	font-size: 13px;
}
.edit[field="layout-skin-10-layouts-20230529151057"][rel="module"] {
	padding-top: 35px;
	margin-top: 0px;
}
#element_1685373017529 {
	margin-top: 0px;
}
#element_1685375217783 {
	margin-top: 0px;
}
#element_1685375217781 {
	margin-top: 0px;
}
#mw-selector-1685375230272 {
	padding-top: 0px;
	margin-left: 0px;
	padding-left: 0px;
	padding-bottom: 50px;
}
#element_1685376510748 {
	padding-right: 30px;
	padding-left: 46px;
	margin-top: 0px;
	padding-top: 0px;
}
#element_1685376510017 {
	margin-top: 0px;
}
#element_1685376510744 {
	padding-top: 33px;
	padding-left: 35px;
	padding-right: 0px;
	margin-right: 0px;
}
#layouts-20230529161630 {
	padding-top: 0px;
	padding-right: 0px;
}
#element_1685376510740 {
	padding-top: 18px;
}
#mw-module-1685376510742 {
	padding-top: 58px;
	padding-left: 42px;
	padding-right: 40px;
	margin-left: 70px;
	padding-bottom: 0px;
}
#btn-mw-module-1685376510738 {
	padding-left: 65px;
	padding-right: 65px;
	padding-top: 10px;
	padding-bottom: 10px;
}
#mw-module-1685376510738 {
	padding-left: 65px;
	padding-right: 0px;
	padding-top: 26px;
	margin-left: 78px;
}
#element_1685388634951 {
	padding-right: 0px;
}
#mw-module-1685376510746 {
	padding-right: 0px;
	margin-right: 49px;
}
#btn-mw-module-1685376510746 {
	margin-right: 100px;
	padding-top: 0px;
}
#mw-module-1685388636778 {
	margin-right: 70px;
	padding-right: 0px;
	padding-top: 0px;
	padding-left: 0px;
}
#btn-mw-module-1685376510742 {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 65px;
	padding-right: 65px;
}
#btn-mw-module-1685388636778 {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 65px;
	padding-right: 65px;
}
#mw-selector-1685392768573 {
	font-style: italic;
	line-height: 34px;
}
#mw-selector-1685392768595 {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-top: 0px;
	padding-top: 0px;
}
#mw-selector-1685392768610 {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
#mw-selector-1685392768618 {
	padding-top: 60px;
	margin-top: 62px;
}
#mw-selector-1685392768631 {
	margin-top: 92px;
}
#mw-selector-1685392768636 {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	padding-top: 0px;
	margin-top: 5px;
}
.edit[field="layout-info-blocks-skin-5-layouts-20230529171101"][rel="module"] {
	padding-bottom: 100px;
}
#mw-selector-1685392768650 {
	padding-top: 41px;
}
#element_1685379498481 {
	margin-top: 0px;
}
#layouts-20230529171101-btn {
	padding-left: 0px;
	padding-right: 0px;
	margin-right: 0px;
}
.edit[field="layout-skin-2-layouts-20230529170422"][rel="module"] {
	padding-top: 100px;
	font-size: 16px;
	line-height: 16px;
}
#element_1685379498456 {
	font-style: normal;
	line-height: 60px;
}
#element_1685379501968 {
	font-style: italic;
}
#element_1685379502436 {
	font-style: italic;
}
#mw-selector-1685392768584 {
	margin-top: 1px;
	font-size: 16px;
}
#element_1685394828325 {
	border: 0px none rgb(0, 0, 0);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	font-size: 1px;
	padding-top: 30px;
}
#element_1685394828441 {
	margin-top: 0px;
	padding-top: 0px;
}
#element_1685398270748 {
	line-height: 32px;
	font-size: 30px;
	font-weight: 500;
}
.edit[field="layout-skin-2-layouts-20230529170114"][rel="module"] {
	font-weight: 500;
}
#mw-selector-1685398281361 {
	font-size: 50px;
}
.edit[field="layout-info-blocks-skin-4-layouts-20230529170021"][rel="module"] {
	margin-top: 0px;
	padding-top: 0px;
}
#mw-selector-1685392768605 {
	margin-top: 0px;
}
#mw-selector-1685392768598 {
	margin-top: 48px;
}
.edit[field="layout-posts-skin-2-layouts-20230529222206"][rel="module"] {
	padding-bottom: 100px;
	margin-bottom: 60px;
	padding-top: 70px;
}
.edit[field="layout-skin-2-layouts-20230529222024"][rel="module"] {
	padding-top: 70px;
}
#element_1685378878655 {
	margin-left: 0px;
	padding-right: 0px;
	margin-right: 0px;
}
.edit[field="layout-contacts-skin-2-layouts-20230529223346"][rel="module"] {
	padding-left: 0px;
	margin-left: 0px;
	padding-top: 5px;
	padding-bottom: 0px;
}
#element_1685399170216 {
	padding-left: 0px;
}
#mw-selector-1685399530396 {
	padding-top: 0px;
	margin-top: 0px;
}
#element_1685399170787 {
	border-top-left-radius: 250px;
	border-top-right-radius: 250px;
	border-bottom-left-radius: 250px;
	border-bottom-right-radius: 250px;
	margin-top: 0px;
	padding-left: 0px;
	margin-left: 100px;
	padding-right: 0px;
	margin-right: 0px;
	font-size: 16px;
	padding-top: 16px;
}
#mw-selector-1685399530402 {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	padding-top: 40px;
	margin-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
#mw-selector-1685399530393 {
	padding-bottom: 0px;
	margin-bottom: 100px;
}
#element_1685399170205 {
	padding-bottom: 0px;
	padding-top: 0px;
	margin-bottom: 100px;
	padding-left: 0px;
	margin-left: 0px;
}
.edit[field="layout-skin-1-layouts-20230529224150"][rel="module"] {
	padding-top: 0px;
	margin-top: 0px;
}
#mw-selector-1685399530436 {
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}
#element_1685399172325 {
	padding-bottom: 0px;
	padding-top: 0px;
}
.edit[field="layout-contacts-skin-3-layouts-20230529225041"][rel="module"] {
	padding-bottom: 100px;
	padding-top: 0px;
}
#mw-selector-1685400984263 {
	padding-top: 30px;
	margin-top: 0px;
	padding-bottom: 30px;
	margin-bottom: 45px;
}
#mw-selector-1685399530399 {
	margin-top: 0px;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 45px;
}
#mw-cl-id-1685399170820 {
	margin-top: 70px;
}
#mw-selector-1685400984298 {
	margin-left: 0px;
	padding-left: 0px;
	padding-top: 0px;
}
#element_1685400629396 {
	font-size: 40px;
	font-weight: 500;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: 71px;
	color: #e89443;
}
#mw-selector-1685400984301 {
	font-size: 24px;
	line-height: 39px;
	font-weight: 600;
}
#element_1685399170657 {
	padding-top: 0px;
	padding-bottom: 14px;
	font-style: italic;
	margin-top: 8px;
	padding-left: 0px;
	margin-left: 0px;
}
#mw-selector-1685399530377 {
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 45px;
	margin-top: 0px;
}
#mw-cl-id-1685400631203 {
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 30px;
}
#element_1685400633917 {
	padding-left: 0px;
	margin-left: 0px;
	color: #e89443;
	font-size: 18px;
}
#mw-selector-1685403338285 {
	color: #f5f5f5;
}
#mw-selector-1685403338290 {
	color: #f5f5f5;
}
#mw-selector-1685403338337 {
	color: #e89443;
	font-size: 22px;
}
#mw-selector-1685403338346 {
	color: #e89443;
	font-size: 22px;
}
#mw-selector-1685403338349 {
	color: #e89443;
	font-size: 22px;
}
#mw-selector-1685403338352 {
	color: #e89443;
	font-size: 22px;
}
#mw-selector-1685403338355 {
	color: #e89443;
	font-size: 22px;
}
#mw-selector-1685403338358 {
	color: #e89443;
	font-size: 22px;
}
#mw-selector-1685403338340 {
	color: #e89443;
}
#mw-selector-1685403338362 {
	color: #e89443;
	font-size: 16px;
}
#mw-selector-1685403747772 {
	color: #e89443;
	font-size: 22px;
}
#mw-selector-1685403747779 {
	color: #e89443;
	font-size: 22px;
}
.edit[field="layout-skin-1-layouts-20230529233922"][rel="module"] {
	font-size: 16px;
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}
.edit[field="layout-skin-2-layouts-20230529232029"][rel="module"] {
	margin-top: auto;
	padding-top: 60px;
	padding-bottom: 90px;
}
.edit[field="layout-skin-2-layouts-20230530120709"][rel="module"] {
	padding-bottom: 0px;
	padding-top: 0px;
	font-size: 16px;
}
.edit[field="layout-skin-1-layouts-20230529161630"][rel="module"] {
	padding-top: 100px;
	margin-top: 0px;
}
#btn-layouts-20230529151705-btn {
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 20px;
}
#btn-btn-20230530134931 {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 100px;
	padding-right: 100px;
	font-size: 20px;
}
#mw-selector-1685455666653 {
	padding-left: 0px;
	color: #f5f5f5;
}
#mw-selector-1685455666656 {
	margin-bottom: 7px;
	padding-right: 0px;
	margin-right: 0px;
	margin-left: 7px;
	padding-top: 0px;
	margin-top: 0px;
	font-size: 34px;
}
#mw-selector-1685455666662 {
	padding-top: 0px;
	margin-top: 0px;
	padding-bottom: 8px;
	font-size: 22px;
	line-height: 45px;
	color: #e89443;
}
#mw-selector-1685455666650 {
	margin-top: 0px;
}
#mw-selector-1685455666665 {
	padding-top: 0px;
}
#mw-selector-1685455666668 {
	border-top-left-radius: px;
}
.edit[field="layout-blockquotes-skin-1-layouts-20230530140718"][rel="module"] {
	padding-bottom: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
}
#mw-selector-1685455666645 {
	font-style: italic;
	font-size: 16px;
	line-height: 34px;
	color: #212121;
}
#element_1685456483514 {
	font-size: 18px;
	font-style: italic;
}
#element_1685456483953 {
	font-size: 20px;
	line-height: 56px;
	font-weight: 600;
}
#element_1685454884139 {
	line-height: 60px;
}
#mw-selector-1685456701068 {
	padding-left: 0px;
	margin-left: 0px;
	padding-right: 12px;
	padding-top: 0px;
	margin-top: 100px;
	padding-bottom: 0px;
	margin-bottom: 100px;
}
#element_1685373018700 {
	font-family: Oxygen;
	padding-left: 0px;
	padding-top: 0px;
	margin-top: 10px;
}
.edit[field="layout-galleries-skin-3-layouts-20230530134750"][rel="module"] {
	padding-top: 1px;
	padding-bottom: 11px;
}
.edit[field="new-world_footer_copyright"][rel="global"] {
	padding-left: 100px;
	margin-left: 0px;
	padding-right: 0px;
	margin-right: 0px;
}
#footer_newsletter {
	padding-right: 0px;
}
#mw-selector-1685448451762 {
	line-height: 10px;
	font-style: italic;
	font-weight: 600;
	font-size: 30px;
	color: #e89443;
}
#mw-selector-1685448451792 {
	font-weight: 600;
	padding-top: 0px;
	font-style: normal;
	font-size: 0px;
}
#mw-selector-1685488884802 {
	padding-left: 0px;
	margin-left: 51px;
}
#mw-selector-1685488884822 {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
#mw-selector-1685488884830 {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}
#mw-selector-1685491259414 {
	padding-top: 0px;
	padding-left: 12px;
	margin-top: 100px;
	margin-bottom: 100px;
	margin-left: 0px;
}
#mw-selector-1685491259419 {
	margin-top: 0px;
}
#element_1685490822257 {
	font-style: italic;
	color: #e89443;
	font-size: 40px;
}
#element_1685490822155 {
	color: #e89443;
	font-style: italic;
	font-size: 40px;
}
#element_1685490822905 {
	color: #e89443;
	font-style: italic;
	font-size: 40px;
}
#element_1685490823033 {
	color: #e89443;
	font-style: italic;
	font-size: 40px;
}
#element_1685488610721 {
	font-size: 60px;
}
#element_1685488610592 {
	font-size: 22px;
	line-height: 35px;
}
#spacer-647691a468b21 {
	height: 20px;
}
#mw-selector-1685491892614 {
	margin-bottom: 100px;
	padding-bottom: 35px;
}
.edit[field="layout-info-blocks-skin-4-layouts-20230531000414"][rel="module"] {
	padding-bottom: 0px;
	margin-bottom: 100px;
}
#mw-selector-1685491892617 {
	padding-bottom: 0px;
	margin-bottom: 0px;
	padding-left: 48px;
	padding-top: 0px;
	margin-top: 100px;
}
#mw-selector-1685491259456 {
	padding-bottom: 0px;
	margin-bottom: 15px;
}
.edit[field="layout-info-blocks-skin-4-layouts-20230531000422"][rel="module"] {
	padding-bottom: 0px;
	margin-bottom: 100px;
}
#mw-selector-1685491892627 {
	padding-bottom: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	margin-top: 0px;
	padding-left: 0px;
	margin-left: 75px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
#element_1685490820134 {
	font-size: 60px;
	color: #000000;
}
.edit[field="layout-skin-2-layouts-20230530231212"][rel="module"] {
	margin-top: 0px;
}
.edit[field="layout-skin-10-layouts-20230530232259"][rel="module"] {
	margin-top: 20px;
}
.edit[field="layout-skin-2-layouts-20230530235811"][rel="module"] {
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 10px;
}
#mw-selector-1685492386277 {
	padding-top: 100px;
	margin-top: 39px;
}
#mw-selector-1685492386283 {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	padding-left: 0px;
	margin-top: 0px;
}
#mw-selector-1685492386292 {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	font-size: 16px;
	padding-top: 0px;
	margin-top: 0px;
	padding-left: 0px;
	margin-left: 0px;
	padding-bottom: 0px;
}
#mw-selector-1685492386295 {
	padding-left: 100px;
	padding-top: 100px;
	margin-top: 0px;
}
#mw-selector-1685491892589 {
	padding-top: 0px;
}
#mw-selector-1685492386264 {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
#mw-selector-1685491892606 {
	padding-left: 76px;
}
#mw-selector-1685491259470 {
	margin-top: 0px;
}
#element_1685490822908 {
	margin-top: 49px;
}
#element_1685490822150 {
	margin-top: 100px;
}
#element_1685490823175 {
	margin-top: 20px;
}
#element_1685488801533 {
	line-height: 40px;
	font-style: italic;
}
#mw-selector-1685488884819 {
	font-size: 18px;
	font-weight: 600;
}
#element_1685488801578 {
	margin-top: 60px;
	font-size: 18px;
}
#mw-selector-1685373092621 {
	font-size: 50px;
	font-style: normal;
}
#element_1685373018652 {
	font-size: 0px;
}
#mw-selector-1685493926623 {
	font-size: 28px;
	font-style: italic;
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 0px;
}
#element_1685394828506 {
	padding-top: 0px;
	margin-top: 0px;
	font-size: 50px;
}
#mw-selector-1685494097971 {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
#mw-selector-1685494097976 {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
#mw-selector-1685456701071 {
	margin-top: 0px;
	margin-bottom: 0px;
}
#mw-selector-1685494507043 {
	padding-bottom: 30px;
}
#mw-selector-1685456701063 {
	padding-bottom: 0px;
	padding-top: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
#element_1685454883933 {
	padding-top: 50px;
	margin-top: 0px;
}
#mw-selector-1685494507054 {
	margin-top: 100px;
	padding-bottom: 0px;
	margin-bottom: 100px;
}
#mw-selector-1685494507057 {
	padding-bottom: 0px;
	margin-top: 100px;
	padding-top: 24px;
}
#element_1685456483543 {
	margin-top: 90px;
}
#mw-selector-1685494507066 {
	font-size: 50px;
}
#mw-selector-1685494507123 {
	font-size: 16px;
}
#element_1685402382434 {
	font-size: 22px;
}
#element_1685375218257 {
	color: #e89443;
}
#element_1685375218500 {
	color: #e89443;
}
#element_1685398910620 {
	font-size: 22px;
}
#mw-selector-1685371579689 {
	padding-top: 5px;
	padding-bottom: 25px;
}
.edit[field="layout-skin-10-layouts-20230529213016"][rel="module"] {
	padding-bottom: 71px;
	padding-top: 50px;
	margin-top: 10px;
}
#mw-selector-1685375230280 {
	padding-bottom: 0px;
	padding-top: 0px;
}
#layouts-20230531173002-btn--1 {
	padding-bottom: 0px;
	padding-top: 21px;
	margin-top: 0px;
}
#layouts-20230531173002-btn--2 {
	padding-top: 0px;
}
#mw-selector-1685554001465 {
	margin-top: 50px;
	padding-top: 5px;
}
#mw-selector-1685554001468 {
	margin-top: 0px;
	padding-top: 0px;
}
#mw-selector-1685554001456 {
	margin-top: 0px;
	padding-top: 0px;
	padding-left: 0px;
	margin-left: 20px;
}
#layouts-20230531173002-btn {
	padding-top: 2px;
	padding-left: 0px;
	margin-left: 0px;
}
#element_1685376510736 {
	margin-left: 10px;
}
#element_1685555020122 {
	padding-top: 50px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.edit[field="layout-skin-4-layouts-20230531173002"][rel="module"] {
	padding-top: 0px;
	padding-bottom: 90px;
}
.edit[field="layout-skin-9-layouts-20230531174726"][rel="module"] {
	padding-bottom: 0px;
}
#mw-selector-1685555261977 {
	font-size: 16px;
	line-height: 19px;
}
#layouts-20230530134750-pictures {
	padding-top: 0px;
}
#element_1685553997577 {
	margin-top: 0px;
}
#element_1685553997530 {
	margin-top: 15px;
}
#mw-selector-1685555261947 {
	padding-top: 30px;
	padding-bottom: 0px;
}
#mw-selector-1685373092630 {
	margin-top: 10px;
}
#element_1685375218352 {
	margin-top: 100px;
	padding-top: 100px;
}
#element_1685375217852 {
	margin-top: 50px;
	padding-top: 0px;
}
#mw-cl-id-1685569449917 {
	color: #e89443;
}
#mw-selector-1685569727556 {
	padding-left: 0px;
	padding-right: 100px;
}
#mw-selector-1685569727553 {
	padding-right: 96px;
}
#mw-selector-1685569727548 {
	padding-right: 100px;
}
#mw-selector-1685569886827 {
	padding-top: 100px;
}
#mw-selector-1685569886836 {
	padding-top: 100px;
}
#mw-selector-1685569886842 {
	padding-top: 100px;
}
#mw-selector-1685569886854 {
	padding-top: 100px;
}
#mw-selector-1685569886863 {
	padding-top: 100px;
}
#mw-selector-1685570020120 {
	font-size: 50px;
}
#btn-layouts-20230531173002-btn {
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
}
#btn-layouts-20230531173002-btn--1 {
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 40px;
	padding-right: 40px;
}
#btn-layouts-20230531173002-btn--2 {
	padding-left: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 40px;
}
#logo-20230531220322 {
	padding-top: 0px;
}
#element_1685570679288 {
	padding-bottom: 0px;
	margin-bottom: 0px;
	font-size: 18px;
	color: #ffffff;
}
#element_1619521705997 {
	margin-bottom: 100px;
}
#element_1619521706230 {
	padding-top: 5px;
}
#element_1685571361240 {
	color: #ffffff;
	line-height: 0px;
	font-size: 21px;
}
#mw-selector-1685376704664 {
	margin-left: 0px;
	margin-right: 11px;
	padding-right: 0px;
	padding-left: 0px;
}
#mw-selector-1685572077663 {
	padding-top: 100px;
}
#mw-selector-1685572077678 {
	padding-top: 0px;
}
.edit[field="layout-skin-3-layouts-20230530142742"][rel="module"] {
	padding-bottom: 50px;
	padding-top: 0px;
	margin-top: 0px;
}
.edit[field="layout-features-skin-5-layouts-20230529232747"][rel="module"] {
	padding-top: 0px;
}
#mw-selector-1685572513013 {
	padding-top: 100px;
	margin-top: 100px;
}
#element_1685573578129 {
	color: #e89443;
	font-style: normal;
}
#mw-selector-1685573783830 {
	color: #000000;
}
#element_1685573577565 {
	color: #e89443;
}
#element_1685573577237 {
	color: #e89443;
}
#element_1685573577121 {
	color: #e89443;
}
#element_1685490820158 {
	color: #000000;
}
#element_1685573990283 {
	padding-left: 100px;
	margin-left: 100px;
	margin-top: 0px;
	padding-top: 0px;
	font-size: 16px;
	line-height: 21px;
}
#mw-selector-1685574258069 {
	margin-top: 0px;
	padding-left: 0px;
	padding-bottom: 63px;
}
.edit[field="layout-skin-9-layouts-20230530231829"][rel="module"] {
	padding-top: 25px;
	padding-bottom: 0px;
}
