#element_1684690265409 {
	font-style: italic!important;
	font-family: Lato, sans-serif!important;
}
#mw-selector-1684698429025 {
	color: #d78a40!important;
	font-weight: 600!important;
	font-size: 40px!important;
}
#mw-selector-1684698429037 {
	color: #d78a40!important;
}
#mw-selector-1684698429034 {
	font-size: 50px!important;
	font-weight: 700!important;
	margin-top: 0px!important;
}
#mw-selector-1684698429046 {
	margin-top: 50px!important;
}
#mw-selector-1684698429049 {
	margin-bottom: 0px!important;
}
#mw-selector-1684696440435 {
	color: #d78a40!important;
	font-size: 50px!important;
	font-weight: 700!important;
}
#mw-selector-1684698429071 {
	color: #d78a40!important;
	font-size: 40px!important;
	font-weight: 600!important;
}
#mw-selector-1684698429064 {
	margin-bottom: 0px!important;
}
#mw-selector-1684698429040 {
	font-size: 50px!important;
	color: #d78a40!important;
	font-weight: 700!important;
}
#mw-selector-1684698429075 {
	margin-bottom: 28px!important;
	font-weight: 200!important;
	line-height: 100px!important;
}
#mw-selector-1684698429081 {
	color: #d78a40!important;
	font-weight: 600!important;
	font-size: 39px!important;
}
#mw-selector-1684696440422 {
	font-size: 50px!important;
	color: #d78a40!important;
	font-weight: 700!important;
}
#mw-selector-1684696440419 {
	font-size: 40px!important;
	color: #d78a40!important;
	font-weight: 600!important;
}
#mw-selector-1684696440428 {
	margin-bottom: 0px!important;
}
